/**********************TAG SELECTORS**********************/
body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Amatic SC', cursive;
  color: #3f3f44;
  font-size: 3.125rem;
}

h2 {
  font-family: 'Amatic SC', cursive;
  color: #3f3f44;
  font-size: 2rem;
  margin: auto;
}

h3 {
  font-family: 'Amatic SC', cursive;
  color: #3f3f44;
  font-size: 1.5rem;
}

p {
  font-family: 'Josefin Slab', serif;
  color: #3f3f44;
  font-size: 1.5rem;
  line-height: 2;
}

hr {
  border: 6px dotted;
  width: 50px;
  border-color: grey;
  border-style: none none dotted;
}

/**********************CLASS SELECTORS**********************/
.top-container {
  background-color: #8ea6b4;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #ececec;
}

.profile {
  padding-top: 50px;
  margin-bottom: 50px;
}

.skill-row {
  width: 40%;
  margin: 50px auto 50px auto;
}

.kanji-row {
  border-radius: 50%;
  margin-top: 10px;
  padding-top: 10px;
  height: 140px;
  width: 150px;
  background-color: #d63447;
  float: left;
}


.adaptive-row {
  margin-left: 10px;
  border-radius: 50%;
  padding-top: 10px;
  height: 140px;
  width: 150px;
  background-color: #d1cebd;
  float: right;
}

.computer-row {
  margin-right: 10px;
  border-radius: 50%;
  margin-top: 10px;
  padding-top: 10px;
  height: 140px;
  width: 150px;
  background-color: #00909e;
  float: left;
}

.bottom-container {
  background-color: #8ea6b4;
  padding-bottom: 0;
}


.contact-me {
  position: relative;
  margin: 40px auto auto auto;
  width: 50%;
}

.footer-link {
  font-family: 'Amatic SC', cursive;
  color: #3f3f44;
  font-size: 1.75rem;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}

a:hover {
  color: #EAF6F6;
}

.BUTTON_IXI {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #3C3533;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  background-color: #76A6C1;
  text-shadow: 1px 1px 10px #38383C;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
}

.BUTTON_IXI:hover {
  border: solid #4489D7 1px;
  background: #4D84DD;
  background-image: -webkit-linear-gradient(top, #4D84DD, #4489D7);
  background-image: -moz-linear-gradient(top, #4D84DD, #4489D7);
  background-image: -ms-linear-gradient(top, #4D84DD, #4489D7);
  background-image: -o-linear-gradient(top, #4D84DD, #4489D7);
  background-image: linear-gradient(to bottom, #4D84DD, #4489D7);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/**********************IMAGES**********************/
.top-cloud {
  position: absolute;
  top: 80px;
  right: 275px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.mountain {
  display: block;
}

.profile-picture {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.computer {
  position: relative;
  margin-top: 10px;
}

/**********************TEXT**********************/
.name {
  font-family: 'Amatic SC', cursive;
  color: #3f3f44;
  font-size: 3rem;
}
.programmer {
  font-weight: normal;
  font-size: 2.2rem;
}

.profile-description {
  width: 50%;
  margin: 20px auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 1.5rem;
}

.attribute {
  margin-bottom: 0;
  color: #EAF6F6;
  font-size: 1.5rem;
}

.Geinoh:hover {
  color: #aacfcf;

}
